@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 7% 90%;
    --foreground: 141 28% 15%;
    --card: 0 0% 100%;
    --card-foreground: 141 28% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 141 28% 15%;
    --primary: 141 28% 34%;
    --primary-foreground: 141 25% 95%;
    --secondary: 140 7% 95%;
    --secondary-foreground: 141 28% 34%;
    --muted: 140 7% 95%;
    --muted-foreground: 141 20% 50%;
    --accent: 42 36% 47%;
    --accent-foreground: 42 36% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 140 7% 80%;
    --input: 140 7% 80%;
    --ring: 141 28% 34%;
    --radius: 0.5rem;
    --chart-1: 141 28% 34%;
    --chart-2: 42 36% 47%;
    --chart-3: 210 30% 60%;
    --chart-4: 25 60% 60%;
    --chart-5: 260 30% 65%;
  }
  .dark {
    --background: 141 10% 12%;
    --foreground: 140 10% 85%;
    --card: 141 10% 12%;
    --card-foreground: 140 10% 85%;
    --popover: 141 10% 12%;
    --popover-foreground: 140 10% 85%;
    --primary: 141 40% 50%;
    --primary-foreground: 141 25% 10%;
    --secondary: 141 10% 17%;
    --secondary-foreground: 140 10% 90%;
    --muted: 141 10% 17%;
    --muted-foreground: 140 10% 60%;
    --accent: 42 45% 65%;
    --accent-foreground: 42 36% 10%;
    --destructive: 0 72% 55%;
    --destructive-foreground: 210 40% 98%;
    --border: 141 10% 22%;
    --input: 141 10% 22%;
    --ring: 141 40% 50%;
    --chart-1: 141 40% 50%;
    --chart-2: 42 45% 65%;
    --chart-3: 210 40% 70%;
    --chart-4: 25 70% 70%;
    --chart-5: 260 40% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.week-view-container .rdp-row:not(:has(button[aria-selected=true])) {
  display: none;
}
