@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 276 70% 56.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 276 70% 56.1%;
    --chart-2: 220 70% 60.1%;
    --chart-3: 300 70% 60.1%;
    --chart-4: 40 80% 60%;
    --chart-5: 160 70% 50%;
  }
  .dark {
    --background: 276 20% 8%;
    --foreground: 276 30% 92%;
    --card: 276 20% 8%;
    --card-foreground: 276 30% 92%;
    --popover: 276 20% 8%;
    --popover-foreground: 276 30% 92%;
    --primary: 276 80% 75%;
    --primary-foreground: 276 20% 15%;
    --secondary: 276 20% 12%;
    --secondary-foreground: 276 30% 95%;
    --muted: 276 20% 12%;
    --muted-foreground: 276 20% 60%;
    --accent: 300 80% 75%;
    --accent-foreground: 300 30% 15%;
    --destructive: 0 72% 55%;
    --destructive-foreground: 210 40% 98%;
    --border: 276 20% 18%;
    --input: 276 20% 18%;
    --ring: 276 80% 75%;
    --chart-1: 276 80% 75%;
    --chart-2: 220 80% 75%;
    --chart-3: 300 80% 75%;
    --chart-4: 40 90% 70%;
    --chart-5: 260 40% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.week-view-container .rdp-row:not(:has(button[aria-selected=true])) {
  display: none;
}
